@import  "../../assets/sass/abstract/constant";
@import  "../../assets/sass/abstract/placeholders";

@import  "../../assets/sass/base/logo";
@import  "../../assets/sass/base/base";
@import  "../../assets/sass/base/mixins";
@import  "../../assets/sass/base/buttons";
@import  "../../assets/sass/layouts/wrapper";

@import  "../../assets/sass/components/header-pets";
@import  "../../assets/sass/components/Pets-content-pets";
@import  "../../assets/sass/components/footer";
@import  "../../assets/sass/base/modal";


article.First-page{
    background:#F6F6F6;
    z-index: 1;
    text-align: center;
}

h2{
    font: {
        family: $font_serif;
        style: normal;
        size: 44px;
        weight: 400;
      }
      color:#ffff;
      line-height: 130%;
      @include respond-to(small-devices){
        @include h3-mobile;
        
    }
    }
h3{ font: {
    family: $font_serif;
    style: normal;
    size: 35px;
    weight: 400;
  }
  letter-spacing: 0.06em;
  line-height: 130%;
  text-align: center;
  @include respond-to(small-devices){
    @include h3-mobile;
    
}
}