.Pets-content{
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    padding-top:120px;
    padding-bottom:100px;
    @include respond-to(tablet) { 
        padding-bottom:74px;
    }
    @include respond-to(small-devices) { 
        padding-bottom:42px;
    }
    .Pets__Content{
        position:relative;
        margin: auto;
        text-align: center;
        color:#545454;
        .Pets_Heading{
            margin:80px 0 45px 0;
            letter-spacing: 0.06em;
            @include respond-to(tablet) { 
                margin:80px 0 40px 0;
            }
            @include respond-to(small-devices) { 
                margin:40px 0 30px 10px;
                max-width: 300px;
            }
        }
        .wrapper_slider{
        .Pets__Slider{
            position:relative;
            overflow:hidden;
            display: flex;
            flex-direction: row; 
            flex-wrap: nowrap;
            justify-content:center;
            .modal{
                display:none;
            }    
            .Pets__Cards{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:center;
            left:-600px;
            @include respond-to(tablet) { 
                max-width: 600px;
            }
            @include respond-to(small-devices) { 
                left:-156px;
                max-width: 320px;
                gap:40px;
            }

            }
        .wrapper_cards{
            margin: 10px 0 0 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content:space-between;
            width:1200px;
           margin-right: 40px;
            @include respond-to(tablet) { 
                justify-content:center;
                gap:40px;
                
                
            }
            @include respond-to(small-devices) { 
                flex-direction: column;
                align-items: center;
                gap:30px;
                margin: auto;
            }
           

           
          
            .Pets__Card{
                border-radius: 10px;
                margin:15px 0;
                transition: all .3s;
                background-color: #fff;
                height:435px;
                width: 270px;
                @include respond-to(tablet) { 
                    margin: -10px 0 0 0;
                }
                @include respond-to(small-devices) { 
                    margin: 0 0;
                }
               
                
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 2px 35px 14px rgba(54, 54, 54, 0.06);
                }
                p{
                    position: relative;
                    font-family: $font_serif;
                    font-size: 20px;
                    line-height: 23px;
                    margin:25px 0 5px 0 ;
                    letter-spacing: 0.06em;
                }
             img{
                 margin: 0;
             }
             .Button_light{
                 top:40px;
             }
            }
            @include respond-to(tablet){
                :nth-child(7){
                    display:none;
                }
                :nth-child(8){
                display:none;
            }
            }

            @include respond-to(small-devices){
                :nth-child(4){
                    display:none;
                }
                :nth-child(5){
                    display:none;
                }
                :nth-child(6){
                    display:none;
                }
                :nth-child(7){
                    display:none;
                }
                :nth-child(8){
                    display:none;
                }
            }
        }}
            .Nav{
                
                margin: auto;
                position: relative;
                padding-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-family: $font_serif;
               
                @include respond-to(small-devices){
                    padding-top:20px;  
                }
                .pagination-pets{
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;   
                color:$color_dark_hover;
                border: 2px solid $color_dark_hover;
                border-radius: 100%;
                width: 48px;
                height: 48px;
                left: 0px;
                position: relative;
                font-family: $font_serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.06em;
                z-index: 4;
                margin: 0 10px;
                cursor: pointer;
                border: 2px solid $color_primary;
                color:$color-radk-3xl;
                &:hover{
                  background-color:$color_primary_hover;
                }
                @include respond-to(small-devices){
                    margin: 0 4px;     
                }
            }

            .pagination-pets_inactive{
                cursor:default;
                border: 2px solid $color_dark_hover;
                color:$color_dark_hover;
                &:hover{
                  background-color:transparent;
                }
            }
               .pagination-pets_Page{
                cursor:default;
                  background-color: $color_primary;
                  color:$color-radk-3xl;
                  }
             
            }
 
        }
    }
}
//----------------------------------
@keyframes move-right {
    from {opacity: 100%;}
    to {opacity:  10%;}
    from {left:0;}
    to {left: -1280px;}
}
@include respond-to(tablet){
    @keyframes move-right {
    from {opacity: 100%;}
    to {opacity:  10%;}    
    from {left: 0px;}
    to {left: -900px;}
    }
}
@include respond-to(small-devices){
    @keyframes move-right {
    from {opacity: 100%;}
    to {opacity:  10%;}    
    from {left: 0px;}
    to {left: -480px;}
    }
}
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  //--------------------------------------------
  @keyframes move-end{
    from {opacity: 100%;}
    to {opacity:  10%;}
    from {left:0;}
    to {left: -1280px;}
  }
  @include respond-to(tablet){
    @keyframes move-end {
    from {opacity: 100%;}
    to {opacity:  10%;}    
    from {left: 0px;}
    to {left: -900px;}
    }
}
@include respond-to(small-devices){
    @keyframes move-end {
    from {opacity: 100%;}
    to {opacity:  10%;}    
    from {left: 0px;}
    to {left: -480px;}
    }
}
  
  .transition-end{
    animation-name: move-end;
    animation-duration: 1s;
  }
//----------------------------------------------------
  @keyframes move-left{
    from {opacity: 100%;}
    to {opacity:  10%;}
    from {left:0;}
    to {left: 1280px;}
  }
  @include respond-to(tablet){
    @keyframes move-left {
        from {opacity: 100%;}
        to {opacity:  10%;}
        from {left: 0px;}
        to {left: 900px;}
    }
}
@include respond-to(small-devices){
    @keyframes move-left {
        from {opacity: 100%;}
        to {opacity:  10%;}
        from {left: 0px;}
        to {left: 480px;}
    }
}
  .transition-left {
    animation-name: move-left;
    animation-duration:1s;
  }
  //---------------------------------------------------
  @keyframes move-start{
    from {opacity: 100%;}
    to {opacity: 10%;}
    from {left:0;}
    to {left: 1280px;}
  }
  @include respond-to(tablet){
    @keyframes move-start {
        from {opacity: 100%;}
        to {opacity:  10%;}
        from {left: 0px;}
        to {left: 900px;}
    }
}
@include respond-to(small-devices){
    @keyframes move-start {
        from {opacity: 100%;}
        to {opacity:  10%;}
        from {left: 0px;}
        to {left: 480px;}
    }
}

  .transition-start{
    animation-name: move-start;
    animation-duration: 1s;
  }
  