@charset "UTF-8";
.rotated, .pagination, .Button_dark, .Button_dark-on-dark, .Button_light, .logo-path {
  transition: all 0.3s ease-out;
}

.modal-window::-webkit-scrollbar {
  width: 5px;
}
.modal-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}
.modal-window::-webkit-scrollbar-thumb {
  background: #FAFAFA;
  border-radius: 10px;
}

.logo-svg:hover {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #545454;
  width: 50px;
  height: 50px;
}

body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.Page-content {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.Button_light {
  cursor: pointer;
  position: relative;
  background-color: #F1CDB3;
  padding: 15px 45px;
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: fit-content;
  border: 2px solid #F1CDB3;
  background-color: #fff;
  padding: 14px 42px;
}
.Button_light:hover {
  background-color: #FDDCC4;
}

.Button_dark-on-dark {
  cursor: pointer;
  position: relative;
  background-color: #F1CDB3;
  padding: 15px 45px;
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: fit-content;
}
.Button_dark-on-dark:hover {
  background-color: #FDDCC4;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Button_dark-on-dark {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .Button_dark-on-dark {
    margin: auto;
  }
}

.Button_dark {
  cursor: pointer;
  position: relative;
  background-color: #F1CDB3;
  padding: 15px 45px;
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: fit-content;
  padding: 15px 45px;
}
.Button_dark:hover {
  background-color: #FDDCC4;
}

.pagination {
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  z-index: 4;
  margin: 0 15px;
}
.pagination:hover {
  background-color: #FDDCC4;
}

.menu__button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 45px;
  right: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 319px) {
  .menu__button {
    right: 3vh;
  }
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}

.menu__button > span::before {
  content: "";
  top: -8px;
}

.menu__button > span::after {
  content: "";
  top: 8px;
}

.rotated {
  transform: rotate(90deg);
}

/*второй вариант закрытого меню
#menu__toggle:checked ~ .menu__button > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__button > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__button > span::after {
  top: 0;
  transform: rotate(90deg);
}*/
.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header_wrapper {
  display: flex;
  direction: row;
  justify-content: space-between;
  z-index: 2;
}

header {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 0;
  z-index: 2;
  padding-top: 36px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  header {
    padding-top: 9px;
    left: 27px;
    right: 27px;
  }
}
@media (max-width: 767px) {
  header {
    padding-top: 9px;
    left: 12px;
    right: 12px;
  }
}

.logo {
  position: relative;
  max-width: 200px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .logo {
    max-width: 210px;
  }
}
.logo .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.logo .title a {
  text-decoration: none;
  color: #F1CDB3;
}
.logo .subtitle {
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #CDCDCD;
  letter-spacing: 0.1em;
  margin: 10px 0;
  padding-left: 4px;
}

nav {
  margin-top: 24px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.nav-menu a {
  text-decoration: none;
  display: inline-block;
  color: #CDCDCD;
}
.nav-menu a:hover {
  color: #FAFAFA;
}
.nav-menu .nav-menu__item {
  list-style: none;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin: 0 0 0 40px;
}
.nav-menu .nav-menu__item:nth-child(1) {
  border-bottom: 3px solid #F1CDB3;
}
@media (min-width: 414px) and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 413px) {
  .nav-menu {
    display: none;
  }
}
@media (max-width: 319px) {
  .nav-menu {
    display: none;
  }
}

@media (min-width: 1280px) {
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 413px) {
  .hamburger-menu {
    display: block;
  }
}
@media (max-width: 319px) {
  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  .active {
    transition: all 0.8s ease-out;
    visibility: visible;
    right: 0;
    position: fixed;
    top: 0;
    left: calc(100% - 320px);
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 9px 10px 0 0;
    list-style: none;
    text-align: center;
    background-color: #292929;
    z-index: 5;
  }
  .active:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);
    opacity: 50%;
  }
  .active .header_wrapper {
    max-width: 320px;
    display: block;
  }
  .active .title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
  }
  .active .title a {
    text-decoration: none;
    color: #F1CDB3;
  }
  .active .subtitle {
    font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #CDCDCD;
    letter-spacing: 0.1em;
    margin: 10px 0;
    padding-left: 4px;
  }
  .active .nav-menu {
    display: block;
    padding: 0 30px 0 30px;
  }
  .active .nav-menu__item {
    list-style: none;
    margin: 0;
    color: #CDCDCD;
    display: block;
    padding-top: 40px;
    font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    text-decoration: none;
  }
  .active .nav-menu__item:hover {
    background-color: #FAFAFA;
  }
  .active .nav-menu__item:nth-child(1) {
    border-bottom: 3px solid #F1CDB3;
  }
  .active .nav-menu__item:nth-child(1) a {
    color: #FAFAFA;
  }
}
.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  background-color: #F1CDB3;
}

.Start-screen-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 180px;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Start-screen-content {
    padding-top: 116px;
  }
}
@media (max-width: 767px) {
  .Start-screen-content {
    padding-top: 120px;
  }
}
.Start-screen-content .Content {
  margin-top: 123px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 460px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Start-screen-content .Content {
    justify-content: center;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .Start-screen-content .Content {
    justify-content: center;
    margin: 30px 10px 0 10px;
  }
}
.Start-screen-content .Content .Heading {
  max-width: 310px;
}
@media (max-width: 767px) {
  .Start-screen-content .Content .Heading {
    text-align: center;
    margin: auto;
    max-width: 230px;
  }
}
.Start-screen-content .Content .Subheading {
  margin: 10px 0 36px 0;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Start-screen-content .Content .Subheading {
    margin: 0 0 42px 0;
  }
}
@media (max-width: 767px) {
  .Start-screen-content .Content .Subheading {
    text-align: center;
    margin: 40px 0 40px 0;
  }
}
.Start-screen-content .Start-screen-puppy {
  position: relative;
  width: 698px;
  height: 728px;
  background-image: url("../../assets/images/start-screen-puppy.png");
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Start-screen-content .Start-screen-puppy {
    width: 569px;
    height: 593px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 130px;
    margin-top: 102px;
  }
}
@media (max-width: 767px) {
  .Start-screen-content .Start-screen-puppy {
    width: 260px;
    height: 271px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 60px;
    margin-top: 105px;
  }
}

.About-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px 40px 100px;
  justify-content: center;
}
.About-content .About_Content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 430px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .About-content .About_Content {
    margin-left: 130px;
  }
}
.About-content .About_Content .About_Heading {
  text-align: left;
  color: #545454;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 14px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .About-content .About_Content .About_Heading {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .About-content .About_Content .About_Heading {
    text-align: center;
    margin: auto;
    max-width: 230px;
    margin-top: 0;
  }
}
.About-content .About_Content .About_Subheading {
  margin: 0;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  padding-top: 25px;
  color: #4C4C4C;
}
@media (max-width: 767px) {
  .About-content .About_Content .About_Subheading {
    text-align: justify;
  }
}
.About-content .About-pets {
  position: relative;
  width: 300px;
  height: 408px;
  margin-left: 12px;
  margin-right: 120px;
  background-image: url("../../assets/images/about-pets.png");
}
@media (min-width: 768px) and (max-width: 1279px) {
  .About-content .About-pets {
    order: 2;
    margin-top: 80px;
    margin-left: 195px;
  }
}
@media (max-width: 767px) {
  .About-content .About-pets {
    order: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 260px;
    height: 353px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .About-content {
    margin: 40px 22px -38px;
    justify-content: center;
  }
}

.Pets-content .Pets__Content {
  position: relative;
  margin: 0;
  margin-top: 80px;
  text-align: center;
  color: #545454;
  padding-bottom: 114px;
}
.Pets-content .Pets__Content .Pets_Heading {
  padding-top: 80px;
  margin-left: -6px;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  .Pets-content .Pets__Content .Pets_Heading {
    margin-top: 40px;
    padding-top: 41px;
  }
}
.Pets-content .Pets__Content .pagination_back {
  cursor: pointer;
  background-image: url("../../assets/icons/Arrow-left.svg");
  left: 20px;
  top: 420px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Pets-content .Pets__Content .pagination_back {
    left: 17px;
  }
}
@media (max-width: 767px) {
  .Pets-content .Pets__Content .pagination_back {
    margin-left: 43px;
    top: 600px;
  }
}
.Pets-content .Pets__Content .pagination_front {
  cursor: pointer;
  background-image: url("../../assets/icons/Arrow-right.svg");
  right: 20px;
  top: 420px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Pets-content .Pets__Content .pagination_front {
    right: 17px;
  }
}
@media (max-width: 767px) {
  .Pets-content .Pets__Content .pagination_front {
    margin-right: 43px;
    top: 600px;
  }
}
.Pets-content .Pets__Content .modal {
  display: none;
}
.Pets-content .Pets__Content .Pets__Slider {
  margin: 60px 60px 0 60px;
  padding-bottom: 74px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .Pets-content .Pets__Content .Pets__Slider {
    margin-bottom: 56px;
    margin-top: 42px;
  }
}
.Pets-content .Pets__Content .wrapper_slider {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  left: 0px;
  /*&>*{
      display: none;
  }
  &>:nth-child(1){
   display:block;
  }  
  &>:nth-child(2){
   display:block;
  } 
  &>:nth-child(3){
   display:block;
  }
   @include respond-to(tablet){
       &>:nth-child(3){
           display:none;
          }
   }
   @include respond-to(small-devices){
       &>:nth-child(2){
           display:none;
       }
       &>:nth-child(3){
           display:none;
       }   
   }*/
}
.Pets-content .Pets__Content .wrapper_slider .hidden_card {
  display: none;
}
.Pets-content .Pets__Content .wrapper_slider .card_conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  max-width: fit-content;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Pets-content .Pets__Content .wrapper_slider .card_conteiner > :nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .Pets-content .Pets__Content .wrapper_slider .card_conteiner > :nth-child(2) {
    display: none;
  }
  .Pets-content .Pets__Content .wrapper_slider .card_conteiner > :nth-child(3) {
    display: none;
  }
}
.Pets-content .Pets__Content .wrapper_slider .Pets__Card {
  border-radius: 10px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #fff;
  height: 435px;
  width: 270px;
}
.Pets-content .Pets__Content .wrapper_slider .Pets__Card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(54, 54, 54, 0.06);
}
.Pets-content .Pets__Content .wrapper_slider .Pets__Card p {
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 23px;
  margin: 22px 0 18px 0;
}
.Pets-content .Pets__Content .wrapper_slider .Pets__Card img {
  margin: 0;
}
.Pets-content .Pets__Content .wrapper_slider .Pets__Card .Button_light {
  top: 30px;
}
@media (max-width: 767px) {
  .Pets-content .Pets__Content {
    padding-bottom: 57px;
  }
}

@keyframes move-right {
  from {
    left: 0px;
  }
  to {
    left: -1080px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  @keyframes move-right {
    from {
      left: 0px;
    }
    to {
      left: -720px;
    }
  }
}
@media (max-width: 767px) {
  @keyframes move-right {
    from {
      left: 0px;
    }
    to {
      left: -360px;
    }
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}

@keyframes move-left {
  from {
    left: 0px;
  }
  to {
    left: 1080px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  @keyframes move-left {
    from {
      left: 0px;
    }
    to {
      left: 720px;
    }
  }
}
@media (max-width: 767px) {
  @keyframes move-left {
    from {
      left: 0px;
    }
    to {
      left: 360px;
    }
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.Help-content {
  position: relative;
  margin: 80px 40px 80px 40px;
  color: #545454;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Help-content {
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .Help-content {
    margin: 40px 10px 26px 10px;
  }
}
.Help-content .Help_Heading {
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .Help-content .Help_Heading {
    margin-bottom: 28px;
  }
}
.Help-content .Help__List {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Help-content .Help__List {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .Help-content .Help__List {
    justify-content: space-between;
  }
}
.Help-content .Help__logo {
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Help-content .Help__logo {
    margin-right: 20px;
    margin-left: 20px;
    flex-basis: 170px;
  }
}
@media (max-width: 767px) {
  .Help-content .Help__logo {
    margin-right: 0;
    margin-left: 0;
    flex-basis: 130px;
    margin-top: 15px;
  }
}
.Help-content .Help__logo p {
  line-height: 115%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 767px) {
  .Help-content .Help__logo p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .Help-content .Help__logo .logo-object {
    width: 50px;
    height: 50px;
  }
}

.Donation {
  position: relative;
  padding: 80px 0 75px;
  margin: 0 136px 0 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Donation {
    margin: 0 136px 0 190px;
    padding: 80px 0 103px;
  }
}
.Donation .Donation_Heading, .Donation .Donation_Subheading {
  color: #545454;
  margin: 0 0 20px 0;
  text-align: left;
}
@media (max-width: 767px) {
  .Donation .Donation_Heading, .Donation .Donation_Subheading {
    margin: 0 0 24px 0;
  }
}
@media (max-width: 767px) {
  .Donation {
    margin: auto;
    padding: 40px 20px 0 20px;
    justify-content: center;
  }
}
.Donation .Donation_Heading {
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  .Donation .Donation_Heading {
    text-align: center;
  }
}
.Donation .Donation_Subheading {
  font-size: 15px;
  line-height: 110%;
}
.Donation .Donation__Content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 380px;
}
.Donation .Donation__Content .Donation__Credit-card-content {
  position: relative;
  max-width: 349px;
  background-color: #F1CDB3;
  border-radius: 9px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  padding: 10px 0;
  display: inline;
}
@media (max-width: 767px) {
  .Donation .Donation__Content .Donation__Credit-card-content {
    max-width: 281px;
    font-size: 15px;
    padding: 13px 0;
  }
}
.Donation .Donation__Content .Donation__Credit-card-content:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}
.Donation .Donation__Content .Donation__Credit-card-content p {
  padding: 0;
  margin: 0;
}
.Donation .Donation__Content .Donation__Credit-card-content p:before {
  content: "";
  background-image: url("../../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
  left: 0;
  position: absolute;
  display: inline-block;
  z-index: 3;
  margin: 0 15px;
}
.Donation .Donation__Content .Donation_Legal-information {
  color: #B2B2B2;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  padding-top: 20px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Donation .Donation__Content .Donation_Legal-information {
    padding-top: 8px;
  }
}
@media (max-width: 767px) {
  .Donation .Donation__Content .Donation_Legal-information {
    padding-top: 8px;
    text-align: justify;
  }
}
.Donation .Donation_Donation-dog {
  position: relative;
  width: 505px;
  height: 261px;
  margin: 14px 30px 10px 0;
  background-image: url("../../assets/images/donation-dog.png");
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Donation .Donation_Donation-dog {
    order: 2;
    margin: 44px 0 0 -58px;
  }
}
@media (max-width: 767px) {
  .Donation .Donation_Donation-dog {
    width: 260px;
    height: 135.2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    order: 2;
    margin-bottom: 39px;
  }
}

footer {
  margin: auto;
  position: relative;
  background-image: url("../../assets/images/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Footer {
    padding-left: 64px;
    padding-top: 15px;
    padding-bottom: 33px;
  }
}
@media (max-width: 767px) {
  .Footer {
    justify-content: center;
    padding-top: 0;
  }
}

.Footer__item {
  margin-right: 160px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Footer__item {
    margin-right: 60px;
  }
}
@media (max-width: 767px) {
  .Footer__item {
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-right: 10px;
  }
}

.Footer_item-1 {
  max-width: 290px;
}
@media (max-width: 767px) {
  .Footer_item-1 {
    max-width: 300px;
    padding-top: 30px;
  }
}

.Footer_item-2 {
  max-width: 290px;
}
@media (max-width: 767px) {
  .Footer_item-2 {
    max-width: 300px;
    padding-top: 30px;
  }
}
@media (max-width: 319px) {
  .Footer_item-2 {
    max-width: 300px;
    padding-top: 8px;
  }
}

.Footer_Heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  text-align: left;
  margin: 16px 0 40px 0;
}
@media (max-width: 767px) {
  .Footer_Heading {
    text-align: center;
    margin: 0 0 40px 0;
  }
}

.Footer_Subheading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .Footer_Subheading {
    text-align: center;
  }
}

.email {
  position: relative;
  margin: 0 0 50px 60px;
}
.email a {
  text-decoration: none;
  color: #F1CDB3;
}
.email:before {
  content: "";
  background-image: url("../../assets/icons/icon-email.svg");
  width: 40px;
  height: 32px;
  left: -60px;
  position: absolute;
  display: inline-block;
  z-index: 3;
  margin: 0;
}

.phone {
  position: relative;
  margin: 0 0 40px 60px;
}
.phone a {
  text-decoration: none;
  color: #F1CDB3;
}
.phone:before {
  content: "";
  background-image: url("../../assets/icons/icon-phone.svg");
  width: 40px;
  height: 32px;
  left: -60px;
  position: absolute;
  display: inline-block;
  z-index: 3;
  margin: 0;
}

.addr {
  position: relative;
  margin: 0 0 30px 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .addr {
    margin: -10px 0 40px 40px;
  }
}
.addr a {
  text-decoration: none;
  color: #F1CDB3;
}
.addr:before {
  content: "";
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  left: -40px;
  position: absolute;
  display: inline-block;
  z-index: 3;
  margin: 0;
}

.Footer__item-image {
  position: relative;
  width: 300px;
  height: 310px;
  background-image: url("../../assets/images/footer-puppy.png");
}
@media (min-width: 768px) and (max-width: 1279px) {
  .Footer__item-image {
    top: 33px;
    left: -36px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .Footer__item-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 260px;
    height: 269px;
    margin: auto;
    margin-top: 30px;
  }
}

.overlay {
  z-index: 6;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  position: relative;
  border-radius: 10px;
  background-color: #FAFAFA;
  width: 900px;
  min-height: 500px;
  max-height: 90%;
  text-align: left;
  margin: 60px;
}

.modal-window__pet {
  margin: 0;
  padding: 0;
  float: left;
  height: 500px;
  width: 500px;
}
@media (max-width: 767px) {
  .modal-window__pet {
    display: none;
  }
}

.modal-window__info {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 88px 29px;
  max-height: 303px;
  max-height: 260px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .modal-window__info {
    padding: 20px 8px 20px 8px;
  }
}
@media (max-width: 767px) {
  .modal-window__info {
    padding: 20px 8px 20px 8px;
  }
}
.modal-window__info .modal-window_name {
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .modal-window__info .modal-window_name {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .modal-window__info .modal-window_name {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
@media (max-width: 319px) {
  .modal-window__info .modal-window_name {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
.modal-window__info .modal-window_breed {
  margin-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .modal-window__info .modal-window_breed {
    margin-bottom: 10px;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .modal-window__info .modal-window_breed {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .modal-window__info .modal-window_description {
    margin-bottom: 10px;
  }
}
.modal-window__info .modal_window_sum .modalSumm_item {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  list-style: disc;
}
.modal-window__info .modal_window_sum .modalSumm_item span {
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .modal-window__info .modal_window_sum .modalSumm_item {
    margin-bottom: 5px;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .modal-window__info .modal_window_sum .modalSumm_item {
    margin-bottom: 5px;
  }
}

.close-btn {
  cursor: pointer;
  border: solid 2px #F1CDB3;
  border-radius: 100%;
  display: block;
  position: absolute;
  right: -50px;
  top: -50px;
  width: 52px;
  height: 52px;
  background-color: none;
  z-index: 6;
}
.close-btn:hover {
  background-color: #FDDCC4;
}
.close-btn:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  top: 24px;
  left: 19px;
  transform: rotate(45deg);
}
.close-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  top: 24px;
  left: 19px;
  transform: rotate(-45deg);
}

article.First-page {
  background-image: url("../../assets/images/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

article.Second-page {
  position: relative;
  background: #fff;
  z-index: 1;
}

article.Third-page {
  position: realtive;
  background: #F6F6F6;
  z-index: 1;
  text-align: center;
}

article.Fourth-page {
  position: realtive;
  background: #fff;
  z-index: 1;
  text-align: center;
}

article.Fifth-page {
  position: realtive;
  background: #F6F6F6;
  z-index: 1;
  text-align: center;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 44px;
  font-weight: 400;
  color: white;
  line-height: 130%;
}
@media (max-width: 767px) {
  h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 130%;
  text-align: center;
}
@media (max-width: 767px) {
  h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}
h3 h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
h3 h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

/*# sourceMappingURL=style.css.map */
