$color_primary: #F1CDB3;
$color_primary_hover: #FDDCC4;
$color_dark_hover:#CDCDCD;
$color_dark2:#4C4C4C;
$font_serif:Georgia, 'Times New Roman', Times, serif;
$font_sansserif:"Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$color_dark:#545454;
$color_dark_active:#292929;
$color-radk-3xl:#292929;
$color-light-s:#FAFAFA;
$color-overlay:rgba(41, 41, 41,0.6);
$content-width:1200px;
$tablet-width:768px;

$mobile-big-width:414px;
$mobile-small-width:320px;

