
.overlay {
    z-index: 6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.modal-window {
    position: relative;
    border-radius: 10px;
    background-color: $color-light-s;
    width: 900px;
    min-height: 500px;
    max-height: 90%;
    text-align: left;
    margin:60px;
    @extend %custom-scroll;
  
}


.modal-window__pet{
    margin:0;
    padding:0;
    float:left;
    height: 500px;
    width:500px;
    @include respond-to(small-devices){
        display:none;     
    }
}
.modal-window__info{
    display:flex;
    flex-direction:column;  
    padding: 50px 20px 88px 29px;
   max-height: 303px;
   max-height: 260px;
   @include respond-to(tablet){
    padding: 20px 8px 20px 8px;  
}
@include respond-to(small-devices){
    padding: 20px 8px 20px 8px;  
}


.modal-window_name{
margin-bottom: 10px;
@include respond-to(tablet){
    margin-bottom: 5px;
    margin-top:10px;
        }
@include respond-to(small-tablet){
            margin-bottom: 5px;
            margin-top:10px;
                }
 @include respond-to(small-mob){
    margin-bottom: 5px;
    margin-top:10px;  
                }
              
}
.modal-window_breed{
    margin-bottom: 40px; 
    @include respond-to(tablet){
        margin-bottom: 10px;
            }
            @include respond-to(small-tablet){
                margin-bottom: 10px;
                    }
}
.modal-window_description{
    @include respond-to(small-devices){
        margin-bottom: 10px;
            }
}
.modal_window_sum{
    .modalSumm_item {display: block;
        font-family: $font_serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
margin-bottom: 10px;
list-style: disc;
   span{
    font-weight: 700;
}
@include respond-to(tablet){
    margin-bottom: 5px;
        }
        @include respond-to(small-tablet){
            margin-bottom: 5px;
                }
            }

    }
}
.close-btn{
    cursor: pointer;
    border: solid 2px  $color_primary;
    border-radius: 100%;
    display: block;
    position: absolute;
    right:-50px;
    top:-50px;
    width:52px;
    height:52px;
    background-color: none;
    z-index: 6;
    &:hover{
        background-color:$color_primary_hover;
    }
    &:before {
       
        content:'';
        display: block;
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: black;;
        top: 24px;
        left:19px;
        transform: rotate(45deg);
      }
      &:after {
        
        content:'';
        display: block;
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: black;;
        top: 24px;
        left:19px;
        transform: rotate(-45deg);
      }
  }
  
  